<include file="Public:header" />
<div class="wrapper">
	<!-- Begin Form -->
	<div id="comment-form" class="comment-form box">
	
		<div id="respond">
					<h3 id="reply-title">Post a Article</h3>
					
					<form action="/home/art-pub" method="post" enctype="multipart/form-data">
						<p>
							<label for="title">Title</label>
							<span class="required">*</span>
							<input id="title" name="title" type="text" value="" size="30" />
						</p>
						<p>
							<label for="tag">Tag</label>
							<input id="tag" name="tag" type="text" value="" size="30" />
						</p>
						<p>
							<label for="keyword">Keyword</label>
							<input id="keyword" name="keyword" type="text" value="" size="30" />
						</p>
						<p>
							<label for="summary">Summary</label>
							<input id="summary" name="summary" type="text" value="" size="30" />
						</p>											
						<p>
							<label class="cont-lab" for="content">Content</label>
							<span class="required">*</span>
							<span class="media-upload-nav">
								<a href="#" id="image-up"><img src="/Public/images/icon-image.png" /></a>
								<a href="#" id="music-up"><img src="/Public/images/icon-audio.png" /></a>
								<a href="#" id="video-up"><img src="/Public/images/icon-video.png" /></a>
								<a href="#" id="annex-up"><img src="/Public/images/icon-link.png" /></a>
							</span>
							<textarea id="content" name="description" cols="45" rows="8" aria-required="true"></textarea>
						</p>
						<p class="cont-media">
							<label>Media</label>
							<span id="image-list"></span>
							<input type="file" id="img-item" name="image[]" multiple="multiple"/>
							<p class="clear"></p>
						</p>
						<p class="form-submit">
							<input name="submit" type="submit" id="submit" value="Post Article" />
						</p>
					</form>
		</div><!-- #respond -->	
  	
	</div>
	<!-- End Form -->
</div>
<script type="text/javascript">
	$(function(){

		//Upload Image
		$("#image-up").click(function(){
			$("input[name='image[]']").click();
			return false;
		});
	

		$("input[name='image[]']").change(preImg);

		function preImg(source) {
			var imgItem = document.getElementById('img-item');
			var len = imgItem.files.length;

		    if (typeof FileReader === 'undefined') {  
		        alert('Your browser does not support FileReader...');  
		        return;  
		    }

		    for(var i = 0; i < len; i++){
			    var reader = new FileReader();  
			    reader.readAsDataURL(imgItem.files[i]);
			    reader.onload = function(){
			    	$("#image-list").append('<img src="'+this.result+'"/>');
			    }
		    }

		    $(".cont-media").show();

		}

	});  
</script>		
<include file="Public:footer" />			