REGISTER:
<br/>
<form action="/Home/register" method="post" enctype="multipart/form-data">
	Name:<input type="text" name="name" />
	Pass:<input type="text" name="password" />
	<input type="submit" name="sub" />
</form>

LOGIN:
<br/>
<form action="/Home/login" method="post" enctype="multipart/form-data">
	Name:<input type="text" name="name" />
	Pass:<input type="text" name="password" />
	<input type="submit" name="sub" />
</form>


CHECKNAME:
<br/>
<form action="/Home/name-check" method="post" enctype="multipart/form-data">
	Name:<input type="text" name="name" />
	<input type="submit" name="sub" />
</form>


USERINFO VIEW:
<br/>
<form action="/Home/uinfo-view" method="post" enctype="multipart/form-data">
	<input type="submit" name="sub" />
</form>

USERINFO EDIT:
<br/>
<form action="/Home/uinfo-edit" method="post" enctype="multipart/form-data">
	Name:<input type="text" name="name" />
	Pass:<input type="text" name="password" />
	Sign:<input type="text" name="sign" />
	Work:<input type="text" name="work" />
	Alipay:<input type="text" name="alipay" />
	<input type="submit" name="sub" />
</form>


AVATAR UPLOAD:
<br/>
<form action="/Home/avatar-up" method="post" enctype="multipart/form-data">
	Avatar:<input type="file" name="image[]" />
	<input type="submit" name="sub" />
</form>


IMAGE RESIZE:
<br/>
<form action="/Home/img-resize" method="post" enctype="multipart/form-data">
	Url:<input type="text" name="url" />
	Width:<input type="text" name="width" />
	<input type="submit" name="sub" />
</form>

MEDIA UPLOAD:
<br/>
<form action="/Home/media-up" method="post" enctype="multipart/form-data">
	Art_id:<input type="text" name="art_id" />
	File:<input type="file" name="music[]" />
	<input type="submit" name="sub" />
</form>


