<form action="/Home/art-pub" method="post">
  Title:<input type="text" name="title" />
  <br/>
   Tag:<input type="text" name="tag" />
  <br/>
  Desc:<input type="text" name="description" />
  <br/>
  <input type="submit" value="SUB" />
</form>


<form action="/Home/media-up" method="post" enctype="multipart/form-data">
<input type="hidden" name="art_id" value="1" />
  File:<input type="file" name="image[]" />
  Desc:<input type="text" name="description[]" />
  <br/>
  File:<input type="file" name="image[]" />
  Desc:<input type="text" name="description[]" />
  <br/>
  <input type="submit" value="SUB" />
</form>



<form action="/Home/media-up" method="post" enctype="multipart/form-data">
<input type="hidden" name="art_id" value="1" />
  File:<input type="file" name="image[]" />
  Desc:<input type="text" name="description[]" />
  Link:<input type="text" name="link[]" />
  WIDTH:<input type="text" name="width[]" />
  HEIGHT:<input type="text" name="height[]" />
  <br/>
  File:<input type="file" name="image[]" />
  Desc:<input type="text" name="description[]" />
  Link:<input type="text" name="link[]" />
  WIDTH:<input type="text" name="width[]" />
  HEIGHT:<input type="text" name="height[]" />
  <br/>
  <input type="submit" value="SUB" />
</form>


<form action="/Home/art-pub" method="post">
  id:<input type="text" name="user_id" />
  <br/>
  <input type="submit" value="SUB" />
</form>


<form action="/Home/art" method="post">
  Atr_id:<input type="text" name="art_id" />
  <br/>
  <input type="submit" value="SUB2" />
</form>