<!-- Begin Footer -->
<div class="footer-wrapper">
<div id="footer" class="four">
    <div id="first" class="widget-area">
      <div class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
        </form>
      </div>
      <div class="widget widget_archive">
        <h3 class="widget-title">Archives</h3>
        <ul>
          <li><a href="#">September 2012</a> (6)</li>
          <li><a href="#">August 2012</a> (2)</li>
          <li><a href="#">July 2012</a> (2)</li>
          <li><a href="#">June 2012</a> (4)</li>
          <li><a href="#">May 2012</a> (3)</li>
          <li><a href="#">January 2012</a> (1)</li>
        </ul>
      </div>  
    </div>
  
    <div id="second" class="widget-area">
    <div id="example-widget-3" class="widget example">
      <h3 class="widget-title">Popular Posts</h3>
      <ul class="post-list">
          <li> 
            <div class="frame">
              <a href="#"><img src="/Public/images/art/s1.jpg" /></a>
            </div>
          <div class="meta">
              <h6><a href="#">Charming Winter</a></h6>
              <em>28th Sep 2012</em>
            </div>
        </li>
        <li> 
            <div class="frame">
              <a href="#"><img src="/Public/images/art/s2.jpg" /></a>
            </div>
          <div class="meta">
              <h6><a href="#">Trickling Stream</a></h6>
              <em>5th Sep 2012</em>
            </div>
        </li>
        <li> 
            <div class="frame">
              <a href="#"><img src="/Public/images/art/s3.jpg" /></a>
            </div>
          <div class="meta">
              <h6><a href="#">Morning Glory</a></h6>
              <em>26th Sep 2012</em>
            </div>
        </li>
      </ul>
      
    </div>
    </div>
    

  </div>
</div>
<div class="site-generator-wrapper">                                   
  <div class="site-generator">Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All Rights Reserved.Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
</div>
<notempty name="Think.session.user_info">
<div class="button_head">
  <a href="/home/uinfo-view"><img src="{$Think.session.user_info.avatar|default='/Public/images/akali.jpg'}"></a>
</div>
</notempty>
<!-- End Footer -->
<script type="text/javascript" src="/Public/js/scripts.js"></script>
</body>
</html>