<!DOCTYPE HTML>
<html>
<head>
<title>和我签订契约吧</title>
<link href="/Public/css/login.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="message warning">
	<div class="contact-form">
		<div class="logo"><h1>和我签订契约，成为魔法少女吧</h1></div>
		<form id="login" class="form" action="/Home/register" method="post">
			<ul>
				<li>
					 <label><img src="/Public/images/contact.png" alt=""></label>
					 <input type="text" name="name" required />		            
				 </li>
				 <li>
					 <label><img src="/Public/images/lock.png" alt=""></label>
					 <input type="text" name="password"  required />		         
				 </li>
				 <p></p>
				 <li class="style">
				     <input type="Submit" value="喵">
				 </li>
			</ul>	
			<div class="clear"></div>	   	
		</form>
	</div>
</div>
</script>
</body>
</html>